*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  background-color: #222326;
  //  background-color: #2a2c2f;
  font-family: "Roboto", sans-serif;
}

.app {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem;
}

// header
.header-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    color: #ed1a5c;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 2.66;
    text-transform: uppercase;
  }

  &__title {
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.167;
    text-transform: uppercase;
  }
}

// main
.grid-list {
  width: calc(100% + 16px);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.grid-item {
  padding: 8px;
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}

.card-container {
  background: linear-gradient(
    to right bottom,
    rgb(9, 102, 133),
    rgb(189, 161, 20)
  );
  height: 100%;
  margin: auto;
  position: relative;
  max-width: 296px;
  transition: all 0.2s ease-out;
  overflow: hidden;
  border-radius: 14px;

  &__link {
    color: #fff;
    cursor: pointer;
    font-size: inherit;
  }

  .card {
    &__box {
      inset: -5px;
      position: absolute;
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 40%,
          rgba(0, 0, 0, 0.05) 50%,
          rgba(0, 0, 0, 0.9) 90%
        ),
        linear-gradient(160deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.7)),
        linear-gradient(200deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.7));
      transition: all 0.2s ease-out;
    }

    &__image {
      background-position: 50% 40%;
      background-size: 70%;
      background-image: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/16.svg);

      inset: 0;
      position: absolute;
      transition: all 0.2s ease-out;
      background-repeat: no-repeat;
    }

    &-media__root {
      height: 260px;
      margin: 16px 16px 0px 16px;
      position: relative;
      box-sizing: border-box;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .root-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;

        & .root-container__left,
        .root-container__right {
          color: #fff;
          height: 28px;
          font-size: 13px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
          font-weight: 600;
          border: none;
          cursor: default;
          height: 32px;
          display: inline-flex;
          outline: 0;
          padding: 0;
          font-size: 0.9rem;
          box-sizing: border-box;
          transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          align-items: center;
          white-space: nowrap;
          border-radius: 16px;
          vertical-align: middle;
          justify-content: center;
          text-decoration: none;
        }
        & .space {
          padding: 0 0.4rem;
        }
      }
    }
  }

  &:hover {
    filter: brightness(1.1);
  }

  &:hover .card__image {
    filter: brightness(0.9);
    transform: scale(1.2);
  }
}

.card__content {
  height: 140px;
  display: flex;
  padding: 0px 16px;
  position: relative;
  background: transparent;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 16px;

  &-wrapper {
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
  }

  &-title {
    color: #fff;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    letter-spacing: 2px;
    font-weight: 900;
    padding-top: 8px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0.35em;
    font-size: 18px;
    line-height: 1.6;
    text-transform: uppercase;
  }

  &-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    & .info {
      color: #fff;
      text-align: left;
      font-size: 20px;
      font-weight: 400;
      flex-grow: 0;
      max-width: 50%;
      flex-basis: 50%;
    }

    & .btn-container {
      flex-grow: 0;
      max-width: 50%;
      flex-basis: 50%;
      margin: 0;

      & .btn {
        color: #fff;
        box-shadow: none;
        background-color: #1599d1;
        display: inline-flex;
        padding: 8px 16px;
        font-size: 1rem;
        min-width: 64px;
        box-sizing: border-box;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-weight: bold;
        line-height: 1.75;
        border-radius: 14px;
        justify-items: center;

        width: 100%;
        text-transform: lowercase;
        border: 0;
        cursor: pointer;
        margin: 0;
        outline: 0;
        position: relative;
        align-items: center;
        vertical-align: middle;

        &-text {
          width: 100%;
          align-items: inherit;
          justify-content: inherit;
        }

        &:hover {
          background-color: rgb(14, 107, 146);
          box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
            0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
        }
      }
    }
  }
}
